/* About.css */

.aboutfullbody {
  font-family: 'Arial', sans-serif;
}

.aboutbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.devscard-container {
  margin: 20px;
}

.credits-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.technology-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.go-ahead-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-heading {
  color: white;
  margin-bottom: 15px;
}

