*{
  padding:0;
  margin:0;
  background-color:#000000;
  
}
@font-face {
  font-family: 'Mostwasted';
  src: local('Mostwasted'), url('../src/Resources/Fonts/Mostwasted.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
